
.dropdown{
    margin-top: 20px;
    margin-bottom: 80px;
}

.titulo {
    width: 80%;
}

.titulo h1 {
    margin-top: 20px;
}

.titulo h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(204, 133, 0);
    font-weight: bold;
    font-size: 50px;
}

.titulo img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.titulo h3 {
    margin-top: 50px;
}

.sobre h4 {
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-weight: bold;
}

.sobre_texto {
    width: 80%;
    font-size: 19px;
}

.footer {
    width: 80%;
    margin-top: 200px;
}

img{
    width: 100px;
}