


.dropdown{
    margin-top: 50px;
}


.card-deck {
    width: 70%;
    height: 50%;
    color: #262626;
    margin: 0 auto;
    text-align: center;

}

.card-deck #check {
    height: 350px;
}

.projetos {
    width: 80%;
}

.projetos h2 {
    width: 80%;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
}

.projetos p {
    width: 90%;
    margin-bottom: 150px;
}

.projetos h3 {
    margin-bottom: 100px;
}

.footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
}